* {
    margin: 0;
    padding: 0;
    outline: none; 
    border:none;
    font-family: Kanit !important;
    box-sizing: border-box;
}

.tab-pane {
    display: none;
}

.tp-active {
    display: block;
}